$mainBlue: #1da1f2;
$mainWhite: #FFFFFF;
$mainBlack: #14171A;
$mainGray: #657786;
$mainLightGray: #AAB8C2;
$mainExtraLightGray: #E1E8ED;
$mainExtraExtraLightGray: #F5F8FA;

@media only screen and (max-width: 768px){
    :root {
        font-size: 3.5vw;
    }
}

.tweet {
    width: 100%;
    height: fit-content;
    padding: 1rem;
    transition-duration: 0.2s;
    transition-property: background-color;
    cursor: pointer;
    >.content {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;
        text-decoration: none;
        color: $mainBlack;
    }

    &:hover {
        background-color: $mainExtraExtraLightGray;
    }

    
    header {
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 100%;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            img {
                height: 3rem;
                width: 3rem;
                border-radius: 50%;
            }
        }
        
    }

    main {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        span {
            font-family: inherit;
        }
        .information {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: .25rem;

            a {
                text-decoration: none;
                color: $mainBlack;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0;
            }

            .name {
                font-weight: bold;
                &:hover {
                    text-decoration: underline;
                    text-decoration-thickness: 1px;
                }
            }
            .username {
                margin-left: .5rem;
            }
            .username, .dot, .time {
                font-size: 1rem;
                color: $mainGray;
            }
            .verified {
                margin-top: 2px;
                margin-left: .2rem;
                max-width: 20px;
                max-height: 20px;
                svg {
                    fill: $mainBlue;
                    width: 1.25rem;
                    height: 1.25rem;
                }
            }
        }
        .replyTo {
            color: $mainGray;
            padding: .3rem 0;
            width: 100%;
            a {
                text-decoration: none;
                color: $mainBlue;
                &:hover {
                    text-decoration: underline;
                    text-decoration-thickness: 1px;
                }
            }
        }
        .text {
            margin: .3rem 0 1rem 0;
            width: 100%;
            a {
                text-decoration: none;
                color: $mainBlue;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .media {
            width: 100%;
            min-width: 100%;
            max-width: 100%;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 50% 50%;
            justify-items: flex-start;
            align-items: flex-start;
            border: 0px solid transparent;
            border-width: 0 1px 1px 0;
            margin-bottom: 1rem;
            
            img {
                display: inline-block; 
                max-width: 100%;
                border: 0px solid $mainExtraLightGray;
                border-width: 1px 0 0 1px;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

            &.n1 {
                border-radius: 1rem;
                img {
                    border-radius: 1rem;
                    grid-column-start: 1;
                    grid-column-end: span 2;
                    grid-row-start: 1;
                    grid-row-end: span 2;
                }
            }

            &.n2 {
                border-radius: 1rem;
                img {
                    &:nth-child(1) {
                        border-radius: 1rem 0 0 1rem;
                        grid-column-start: 1;
                        grid-column-end: span 1;
                        grid-row-start: 1;
                        grid-row-end: span 2;
                    }
                    &:nth-child(2) {
                        border-radius: 0 1rem 1rem 0;
                        grid-column-start: 2;
                        grid-column-end: span 1;
                        grid-row-start: 1;
                        grid-row-end: span 2;
                    }
                }
            }

            &.n3 {
                border-radius: 1rem;
                img {
                    &:nth-child(1) {
                        border-radius: 1rem 0 0 0;
                        grid-column-start: 1;
                        grid-column-end: span 1;
                        grid-row-start: 1;
                        grid-row-end: span 1;
                    }
                    &:nth-child(2) {
                        border-radius: 0 0 0 1rem;
                        grid-column-start: 1;
                        grid-column-end: span 1;
                        grid-row-start: 2;
                        grid-row-end: span 1;
                    }
                    &:nth-child(3) {
                        border-radius: 0 1rem 1rem 0;
                        grid-column-start: 2;
                        grid-column-end: span 1;
                        grid-row-start: 1;
                        grid-row-end: span 2;
                    }
                }
            }

            &.n4 {
                img {
                    grid-column-end: span 1;
                    grid-row-end: span 1;

                    &:nth-child(1) {
                        border-radius: 1rem 0 0 0;
                        grid-column-start: 1;
                        grid-row-start: 1;
                    }
                    &:nth-child(2) {
                        border-radius: 0 1rem 0 0;
                        grid-column-start: 2;
                        grid-row-start: 1;
                    }
                    &:nth-child(3) {
                        border-radius: 0 0 0 1rem;
                        grid-column-start: 1;
                        grid-row-start: 2;
                    }
                    &:nth-child(4) {
                        border-radius: 0 0 1rem 0;
                        grid-column-start: 2;
                        grid-row-start: 2;
                    }
                }
            }
        

            
        }
        .stats {
            display: flex;
            justify-content: stretch;
            align-items: center;
            gap: 5rem;
            width: 100%;

            div {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: .75rem;

                svg {
                    width: 1.25rem;
                    fill: $mainGray;
                }

                span {
                    color: $mainGray;
                    font-size: .8rem;
                }
            }
        }
    }
}