$mainBlue: #1da1f2;
$mainWhite: #FFFFFF;
$mainBlack: #14171A;
$mainGray: #657786;
$mainLightGray: #AAB8C2;
$mainExtraLightGray: #E1E8ED;
$mainExtraExtraLightGray: #F5F8FA;

#explore {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    
    &.noScroll{
        overflow: hidden;
    }

    >header {
        height: 5rem;
        max-height: 3rem;
        background-color: $mainWhite;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0.5rem;

        .logo {
            text-decoration: none;
            height: 100%;
            width: auto;
            display: flex;
            align-items: center;
            gap: 1rem;
            font-size: 1.5rem;
            font-weight: 300;
            color: $mainBlack;

            svg {
                .cls-1 {
                    fill: $mainBlue;
                }

                .cls-2 {
                    fill: $mainWhite;
                }
            }
        }

        .contact {
            height: 100%;
            width: auto;
            display: flex;
            justify-content: center;
            align-items: center;

            .btn {
                text-decoration: none;
                padding: 0.25rem 0.5rem;
                position: relative;
                box-sizing: border-box;
                background-color: $mainBlue;
                color: $mainWhite;
                border-radius: 1rem;
                font-weight: 500;
                cursor: pointer;
                display: flex;
                gap: 0.25rem;

                i {
                    position: relative;
                    top: 2px;
                    display: inline-block;
                    width: 1rem;
                    height: 1rem;
                    background: transparent 0 0 no-repeat;
                    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2072%2072%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h72v72H0z%22%2F%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%23fff%22%20d%3D%22M68.812%2015.14c-2.348%201.04-4.87%201.744-7.52%202.06%202.704-1.62%204.78-4.186%205.757-7.243-2.53%201.5-5.33%202.592-8.314%203.176C56.35%2010.59%2052.948%209%2049.182%209c-7.23%200-13.092%205.86-13.092%2013.093%200%201.026.118%202.02.338%202.98C25.543%2024.527%2015.9%2019.318%209.44%2011.396c-1.125%201.936-1.77%204.184-1.77%206.58%200%204.543%202.312%208.552%205.824%2010.9-2.146-.07-4.165-.658-5.93-1.64-.002.056-.002.11-.002.163%200%206.345%204.513%2011.638%2010.504%2012.84-1.1.298-2.256.457-3.45.457-.845%200-1.666-.078-2.464-.23%201.667%205.2%206.5%208.985%2012.23%209.09-4.482%203.51-10.13%205.605-16.26%205.605-1.055%200-2.096-.06-3.122-.184%205.794%203.717%2012.676%205.882%2020.067%205.882%2024.083%200%2037.25-19.95%2037.25-37.25%200-.565-.013-1.133-.038-1.693%202.558-1.847%204.778-4.15%206.532-6.774z%22%2F%3E%3C%2Fsvg%3E');
                }

                .label {
                    white-space: nowrap;
                    font: normal normal normal 12px / 18px 'Helvetica Neue', Arial, sans-serif;
                }
            }

        }
    }

    >main {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        background-color: $mainWhite;

        >header {
            background-color: $mainExtraExtraLightGray;
            width: clamp(400px, 100%, 1fr);
            height: 100%;
            padding: 1rem;   

            .profile {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                border-radius: 1rem;
                cursor: pointer;
                text-decoration: none;

                &:hover {
                    outline: 1px solid $mainExtraLightGray;
                }

                .banner {
                    width: clamp(100%, 100%, 100%);
                    border-radius: 1rem 1rem 0 0;

                    img {
                        border-radius: 1rem 1rem 0 0;
                        width: 100%;
                    }
                }

                .content {
                    background-color: $mainWhite;
                    width: 100%;
                    padding: 1rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    border-radius: 0 0 1rem 1rem;
                    
                    .avatar {
                        width: clamp(48px, 25%, 25%);
                        height: 48px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transform: translate(0, calc(-50% - 1rem));
                        img {
                            border: .25rem solid $mainWhite;
                            width: 100%;
                            border-radius: 50%;
                        }
                    }
                    .name {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        gap: .25rem;
                        min-width: 100%;
                        span {
                            font-weight: bold;
                            font-size: 1.5rem;
                            color: $mainBlack;
                        }
                        .verified {
                            max-width: 20px;
                            max-height: 20px;
                            svg {
                                fill: $mainBlue;
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                    .username {
                        width: 100%;
                        color: $mainGray;
                        margin-top: .4rem;
                    }
                    .bio {
                        width: 100%;
                        color: $mainBlack;
                        margin-top: 1rem;
                    }
                    .information {
                        width: 100%;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 1rem;
                        margin-top: 1rem;
                        
                        .joinDate {
                            span {
                                white-space: nowrap;
                            }
                        }
                        .url {
                            max-width: 30%;
                        }
                        .location, .url, .joinDate {
                            display: inline-flex;
                            justify-content: flex-start;
                            align-items: center;
                            gap: .3rem;
                            color: $mainGray;

                            a {
                                color: $mainBlue;
                                text-decoration: none;
                                max-width: 100%;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                            
                            .svg {
                                max-width: 20px;
                                max-height: 20px;
                                svg {
                                    fill: $mainGray;
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }
                    .follows {
                        width: 100%;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 2rem;
                        margin-top: 1rem;
                        
                        .following, .followers {
                            display: inline-flex;
                            justify-content: flex-start;
                            align-items: center;
                            gap: .2rem;
                            color: $mainBlack;
                            span {
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
        >main {
            background-color: $mainWhite;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            width: clamp(600px, 100%, 2fr);
            padding-top: 1rem;
            background-color: $mainExtraExtraLightGray;

            table {
                background-color: $mainWhite;
                width: 60%;
                border-collapse: collapse;
                tbody {
                    width: 100%;
                    tr {
                        width: 100%;
                        border: 0.05rem solid $mainExtraLightGray;

                        .tweet-skeleton {
                            border-radius: 1rem;
                            width: 100%;
                            padding: 1rem;
                
                            .img {
                                height: 3rem;
                                width: 3rem;
                                border-radius: 50%;
                                margin-bottom: 1rem;
                                background-color: $mainExtraLightGray;
                                animation: tweet-skeleton 1s linear infinite alternate;
                            }
                
                            .line {
                                height: 0.5rem;
                                margin: 0.5rem 0;
                                width: 100%;
                                border-radius: 0.3rem;
                                background-color: $mainExtraLightGray;
                                animation: tweet-skeleton 1s linear infinite alternate;
                
                                &:last-child {
                                    width: 75%;
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                } 
            }
            .ads {
                width: 40%;
                min-height: 100vh;
                background-color: $mainExtraExtraLightGray;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        
    }
}

@keyframes tweet-skeleton {
    0% {
        background-color: $mainExtraLightGray;
    }

    100% {
        background-color: $mainExtraExtraLightGray;
    }
}
